<!doctype html>
<html>
	<head>
    <script>
          (function() {
            function getCookie(name) {
              let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
              ));
              return matches ? decodeURIComponent(matches[1]) : undefined;
            }
            if (getCookie('darkmode') === 'true') {
              document.documentElement.setAttribute('data-theme', 'dark');
            } else {
              document.documentElement.setAttribute('data-theme', 'light');
            }
          })();
        </script>
		<title>{% block title %}INFINITAS Rank Table{% endblock %}</title>
		<meta charset="utf-8" />
    {% if pcview %}
    <meta name="viewport" content="width=1080, user-scalable=1">
    {% else %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=1" />
    {% endif %}
    <meta name="description" content="beatmania IIDX INFINITAS 비공식 난이도 서열표 사이트입니다.">
    <meta name="author" content="@lazykuna">

		{% load static %}

		<link rel=stylesheet type=text/css href="{% static 'css/bootstrap.min.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'css/rankpage_common.css' %}">
		<link rel=stylesheet type=text/css href="{% static 'css/common.css' %}?v=170706_4">
		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.kerning.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/common.js'%}?v=8"></script>

		
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="stylesheet" type="text/css" href="{% static 'css/refactor-style.css' %}?v=11">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<div id="footer">
    <a href="https://github.com/kuna" target="_blank">@lazykuna</a> 님의 iidxranktable 레포를 클론하여 만들어졌습니다.<br>
    SP 난이도표 관리 : <a href="https://github.com/Coldlapse" target="_blank">@Coldlapse</a>, DP 난이도표 관리 : P.<br><br>
    </div>
		

		<!-- loading form and etc ... -->
		<div id="loading_background" style="display:none;"></div>
		<div id="loading_message" style="display:none;"></div>
		<div id="message" style="display:none;"></div>

<!-- google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44840196-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- google Analytics end -->
	</body>
</html>

<script language="javascript">
function getCookie(cookie_name) {
  var x, y;
  var val = document.cookie.split(';');

  for (var i = 0; i < val.length; i++) {
    x = val[i].substr(0, val[i].indexOf('='));
    y = val[i].substr(val[i].indexOf('=') + 1);
    x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
    if (x == cookie_name) {
      return unescape(y); // unescape로 디코딩 후 값 리턴
    }
  }
}

if (getCookie('darkmode') == 'true') {
  document.body.style.backgroundColor = "#1F1F23";
  document.body.style.color = "#FFFFFF";
  for (i = 0; i < document.getElementsByTagName('input').length; i++)
    document.getElementsByTagName('input')[i].style.color = "#000000";
  for (i = 0; i < document.getElementsByTagName('select').length; i++)
    document.getElementsByTagName('select')[i].style.color = "#000000";
  
}
</script>
