{% load static %}
<div class="profile-header-container" id="refactored-header">
  <div class="refactored-inner-container">
    <div class="profile-main-info">
      <div class="profile-avatar-wrapper">
        <img src="{{ userdata.avatar_url }}" alt="DJ Avatar" class="profile-avatar"
             onerror="this.onerror=null;this.src='{% static 'qpro/infinitas.png' %}'">
      </div>
      <div class="profile-text-wrapper">
        <h3 class="profile-djname">DJ {{ userdata.djname }}</h3>
        <p class="profile-iidxid">{{ userdata.iidxid }}</p>
        <div class="profile-dan-wrapper">
          <span class="profile-dan dan-sp dan{{ userdata.spclass }}">{{ userdata.spclassstr }}</span>
          <span class="profile-dan dan-dp dan{{ userdata.dpclass }}">{{ userdata.dpclassstr }}</span>
        </div>
      </div>
    </div>
    
    <div class="rank-nav-container">
        <ul class="nav nav-pills">
          <li class="rank-nav-title"><small>SINGLE PLAY</small></li>
          <li><a href="/{{ userdata.iidxmeid }}/SP12H" class="nav-link">SP12 HARD</a></li>
          <li><a href="/{{ userdata.iidxmeid }}/SP12N" class="nav-link">SP12 NORMAL</a></li>
          <li><a href="/{{ userdata.iidxmeid }}/SP11H" class="nav-link">SP11 HARD</a></li>
          <li><a href="/{{ userdata.iidxmeid }}/SP11N" class="nav-link">SP11 NORMAL</a></li>
          <li><a href="/{{ userdata.iidxmeid }}/SP10H" class="nav-link">SP10 HARD</a></li>
        </ul>
        <ul class="nav nav-pills">
            <li class="rank-nav-title"><small>DOUBLE PLAY</small></li>
            <li><a href="/{{ userdata.iidxmeid }}/DP12" class="nav-link">DP12</a></li>
            <li><a href="/{{ userdata.iidxmeid }}/DP11" class="nav-link">DP11</a></li>
            <li><a href="/{{ userdata.iidxmeid }}/DP10" class="nav-link">DP10</a></li>
        </ul>
        <ul class="nav nav-pills">
            <li class="rank-nav-title"><small>ETC</small></li>
            <li><a href="/!/dbr" class="nav-link">DBR</a></li>
            <li><a href="/!/11dbr" class="nav-link">11DBR</a></li>
            <li><a href="/!/onehand" class="nav-link">12片手</a></li>
        </ul>
    </div>
  </div>
</div>