{% extends "user/_authbase.html" %}
{% load django_bootstrap5 i18n %}
{% block page_title %}{% trans '로그인' %}{% endblock %}
{% block auth_title %}{% trans '로그인' %}{% endblock %}
{% block auth_body %}
<form method="POST" action="./" novalidate>
  {% csrf_token %}
  {% bootstrap_form form layout='vertical' %}
  <button type="submit" class="btn btn-primary w-100 mt-2">{% trans '로그인' %}</button>
</form>
{% endblock %}
{% block auth_after %}
<p class="bm-auth-foot">
  {% trans '아직 계정이 없으신가요?' %} <a href="/join/">{% trans '가입하기' %}</a>
  <span class="bm-auth-sep">·</span>
  <a href="/">{% trans '서열표로 돌아가기' %}</a>
</p>
<p class="bm-auth-foot">
  <a href="/find-id/">{% trans '아이디 찾기' %}</a>
  <span class="bm-auth-sep">·</span>
  <a href="/reset-password/">{% trans '비밀번호 재설정' %}</a>
</p>
{% endblock %}
