{% extends "user/_authbase.html" %}
{% load django_bootstrap5 i18n %}
{% block subtitle %} - 비밀번호 변경{% endblock %}
{% block auth_title %}비밀번호 변경{% endblock %}
{% block auth_lead %}
<p class="bm-auth-lead">{% trans '새 비밀번호를 설정해 주세요.' %}</p>
{% endblock %}
{% block auth_body %}
<form method="POST" action="./" novalidate>
  {% csrf_token %}
  {% bootstrap_form form layout='vertical' %}
  <button type="submit" class="btn btn-primary w-100 mt-2">{% trans '비밀번호 변경' %}</button>
</form>
{% endblock %}
{% block auth_after %}
<p class="bm-auth-foot"><a href="/account/">{% trans '설정으로 돌아가기' %}</a></p>
{% endblock %}
