{% extends "common.html" %}
{% load i18n %}
{% comment %}
  이전 2행은 <!--{% templatetag openblock %} block subtitle {% templatetag closeblock %}- recommendation ... --> 였다.
  HTML 주석 안이어도 Django 태그는 실행되므로 제목에 "- recommendation" 이 새어나왔다.
{% endcomment %}
{% comment %}
  이 템플릿은 홈(/)과 남의 프로필(/u/x/)을 겸한다. 비로그인 홈에서는
  djname 이 'NONAME' 이라 제목이 'NONAME - ...' 으로 나왔다(라이브 확인).
  그 경우만 사이트명만 내보낸다.
{% endcomment %}
{% block title %}{% if viewing_other or user.is_authenticated %}{{ userdata.djname }} - {% endif %}INFINITAS Rank Table{% endblock %}
{% block body %}

{% include "top.html" %}
{% include "profileheader.html" %}

<div id="container">
  <div class="card bm-intro-card">
    <div class="card-body">
      <ul class="bm-intro-list">
        {% comment %}
          남의 서열표를 보고 있을 때만 맨 위에 알린다. 여기서 무엇을 눌러도
          그 사람의 기록은 바뀌지 않으므로 그 사실을 먼저 말해 준다.
        {% endcomment %}
        {% if viewing_other %}
        <li class="bm-intro-visiting">
          <i class="bi bi-eye" aria-hidden="true"></i>
          <span>{% blocktrans with dj=userdata.djname nick=userdata.nickname %}DJ {{ dj }} ({{ nick }}) 님의 서열표 페이지에 접근하셨습니다. 읽기 전용입니다.{% endblocktrans %}</span>
        </li>
        {% endif %}
        <li>
          <i class="bi bi-git" aria-hidden="true"></i>
          <span><a href="https://github.com/kuna/iidxranktable/" target="_blank" rel="noopener">kuna/iidxranktable</a>
            {% blocktrans %}프로젝트를 클론하여 수정한 후 운영되는 서열표 사이트입니다.{% endblocktrans %}</span>
        </li>
        <li>
          <i class="bi bi-music-note-list" aria-hidden="true"></i>
          <span>{% blocktrans %}<b>비트매니아 IIDX INFINITAS</b>의 수록곡들만 제공합니다.{% endblocktrans %}</span>
        </li>
        <li>
          <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
          <span>{% blocktrans %}서열은 종전 본가 시트들을 기반으로 작성됩니다. SP의 경우 서열 미분류 곡에 대한 별도의 분류는 진행하지 않습니다.{% endblocktrans %}</span>
        </li>
        <li>
          <i class="bi bi-discord" aria-hidden="true"></i>
          <span>{% trans '건의 및 난이도 갱신 요청, 서버 상태 등은' %}
            <a href="https://discord.gg/RxjwbvWa8D" target="_blank" rel="noopener">{% trans '디스코드' %}</a>{% trans '를 참조해주세요.' %}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
